[2015-01-15 20:36] eapache opened #15 "Platform check not sufficiently permissive"
@Sirupsen @csfrancis I was trying to use semian on an x64 Ubuntu 14.10 installation and I got `Semian is not supported on x86_64-linux-gnu - all operations will no-op`

The current check is just `end_with?('-linux')` which clearly isn't sufficient, though I don't know enough about the format of `RUBY_PLATFORM` to say what else is needed.

[2015-01-15 20:40] csfrancis commented on #15
Oh interesting. I could change the platform check to a regex: `/-linux(?:-gnu)?$/`.

Thoughts?

[2015-01-15 20:46] eapache commented on #15
I have tried and failed to find an explanation of the format of `RUBY_PLATFORM` anywhere... although I did discover that it just says `java` on JRuby regardless of actual OS, so maybe it's not the best indicator in the first place...

[2015-01-15 22:41] Sirupsen commented on #15
We could just do `/linux/`?

[2015-01-15 23:08] eapache commented on #15
Works for me

[2015-01-16 17:25] #15 closed

[2015-02-09 18:19] staugaard opened #19 "concurrent-ruby"
Is there any reason you are not using the semaphore implementation from concurrent-ruby?
https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/atomic/semaphore.rb

It would give semian support for more rubies.

[2015-02-09 18:22] byroot commented on #19
Hi @staugaard.

The reason why we use SysV Semaphores is because we run our app with unicorn. So we can't share a semaphore between multiple processes with the implementation you linked to.

For people running multithreaded servers though, it could be a fine solution.

[2015-02-09 18:25] staugaard commented on #19
I see. Thanks.

[2015-02-09 18:25] #19 closed

[2015-02-09 18:26] byroot commented on #19
We might add support for that in the future once the API is stabilized. But for now we have quite a lot of code to extract and document.

Feel free to let this issue open if you'd like to use Semian in the future.

[2015-02-09 19:25] Sirupsen commented on #19
@staugaard if you are using JRuby or other Ruby with parallelism you could definitely use a pure Ruby semaphore. We'd definitely accept a patch to make the semaphores pluggable.

[2015-02-19 15:45] Sirupsen opened #27 "Share circuit breaker between workers"
We should use `SysV` shared memory of `SysV` semaphores to share the state of the circuit breakers between all the workers on the host.

I want to take a crack at it this weekend

\cc @csfrancis @byroot

[2015-02-19 21:37] Sirupsen opened #28 "Monitor ticket count"
We should pass the ticket count to #acquire so we can instrument it

[2015-02-19 22:03] Sirupsen commented on #28
Turns out there's `resource.count`.

[2015-02-19 22:04] byroot commented on #28
:facepalm:

So we don't need anything.

[2015-02-20 19:33] byroot opened #29 "Investigate a possible Memcached adapter."
cc @Sirupsen

[2015-02-20 19:36] Sirupsen commented on #29
The memcached client already does some circuit break-like logic, so we'll have to investigate that and possibly disable it.

[2015-02-20 19:36] sirupsen opened #30 "Figure out how to set good ticket counts"
math

@byroot

[2015-02-20 19:38] Sirupsen opened #31 "New documentation"
We're ready to write some good documentation now that we've extracted the useful parts from Shopify and use it in production.

- [x] Basic usage (https://github.com/Shopify/semian/pull/42)
- [ ] How does Semian work?
- [ ] Decorator pattern for rescuing exceptions
- [x] rdoc

\cc @byroot

[2015-02-23 16:26] byroot opened #39 "Detect Mysql2 connection errors"
We should increment the errors count of the circuit breaker for MySQL connection errors (similar to https://github.com/Shopify/semian/pull/37)

But MySQL have only one exception class, so it's slightly dirty. Maybe we could improve the situation upstream.

Ref: https://github.com/brianmario/mysql2/issues/404

[2015-02-23 17:36] Sirupsen commented on #39
This is how we currently do it (https://github.com/Shopify/shopify/blob/master/lib/patches/mysql_monitoring.rb#L23). We can also use the internal MySQL error numbers, however, there are multiple error numbers for the same string. It's been like this forever, so I doubt they'll change it upstream.

[2015-02-23 18:06] byroot commented on #39
For clarity:
[code]

[2015-02-23 19:26] #39 closed

[2015-02-25 17:44] #28 closed

[2015-03-22 04:49] Sirupsen opened #44 "Proxy"
If Semian was a proxy it'd be simpler to use, and could be opt-out instead of opt-in for apps in an organization.

Some inspriation could be taken from: https://github.com/vektra/templar

It possibly would be re-implemented in something like Go. This also solves issues such as sharing state between containers.

[2015-03-22 08:58] rud commented on #44
I believe I've heard HAProxy configured for this particular use-case of TCP connection proxying to external services. Might be an awesome way to save a lot of effort just to wrap / elegantly configure that. Only a thought.

[2015-03-22 14:04] Sirupsen commented on #44
HAProxy has poor support for on-the-fly reloading (by dropping connections). HAProxy is more suited for situations that require load balancing and/or health checking (eg Airbnb's smart stack), which Semian doesn't. the cool thing about the proxy is that we don't need to look at L4/L3 at all, but can merely observerve remote ACK times.

[2015-03-22 15:13] rud commented on #44
Did not realize, thank you for the feedback. Carry on :)

[2015-03-22 15:31] Sirupsen commented on #44
ya of course :) I'll be sure to do a talk on this next time I'm in Aarhus.

[2015-04-12 20:09] Sirupsen commented on #31
#45

[2015-09-17 04:55] Sirupsen opened #48 "Net::HTTP driver"

[2015-09-17 04:55] byroot commented on #48
Interesting. You would need to scope it by domain though.

[2015-09-17 04:55] #31 closed

[2015-09-17 04:56] Sirupsen commented on #48
Yeah, I'd also like to use the same opportunity to instrument execution and connection time to all remote domains.

[2015-09-17 04:58] Sirupsen opened #49 "Simulator"
Getting good resiliency parameters is hard. I have some ideas on the maths here (esp for bulkheads), but writing something to simulate traffic + an architecture + failing components could be an interesting way to optimize. Or maybe just being better at maths than I am.

[2015-09-17 05:12] byroot opened #50 "Configure tickets per workers, not staticaly"
A big pain point of configuring semian, is that you might have host with different amounts of processes.

It could be interesting to investigate a way to configure Semain to dynamically define the number of tickets based on the processes count.

e.g. I want `ceil(0.2 * process_count)` tickets.

cc @Sirupsen

[2015-09-17 05:15] Sirupsen commented on #50
@byroot if you have > 10 workers everywhere in the SysV namespace and that's guaranteed, I don't think it actually matters—hardcoding to something like 8 is probably good enough, according to the napkin math I've done. Regardless, this requires some more investigation and/or simulation to confirm. Once we have a really good understanding of ticket counts and how they affect the system, we can make

[2015-09-17 05:16] Sirupsen commented on #50
Note that it still means that I'm interested in the amount of workers (to an extent) but that the ticket count is not directly proportional (because the probabilities of hitting a bulkhead are exponential).

[2015-09-22 13:57] Sirupsen opened #52 "How long did a worker block on getting a ticket?"
This might be super nice to have an instrumentation point for.

[2015-09-22 18:38] Sirupsen opened #53 "Drop openssl dependency"
We can likely just use something built into libc to hash the resources. It'd be nice to have collision detection, but it's not really a must-have since it's so unlikely.

[2015-10-09 15:38] Sirupsen opened #55 "DNS over TCP adapter"

[2015-11-19 12:47] techwizardg opened #66 "Semian library for nodejs"
Do we have a library in nodejs environment for Semian and circuit breaker so that we can use in nodejs environment with toxiproxy

[2015-11-19 15:41] camilo commented on #66
@techwizardg There  likely is an equivalent on the node world, not one that we are aware of. Feel free to take inspiration from semian  and port parts of it to node if it fits your use case.

[2015-11-19 15:41] #66 closed

[2015-11-26 15:55] methodmissing opened #68 "Travis CI: upgrade to new build infra"
This warning is present in current builds:

[code]

See https://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade

[2015-11-26 15:57] methodmissing opened #69 "Toxiproxy defined twice as a dev dependency"
Noticed that toxiproxy is defined twice in the Gemfile:
- the gemspec as a dev depenendecy (current gem release)
- under the development group (git release)

This may cause some side effects with version bumps moving forward.

[2015-11-26 15:58] byroot commented on #68
IIRC we can't upgrade because we need sudo to install toxiproxy. @Sirupsen ?

[2015-11-26 19:55] Sirupsen commented on #68
We could run it as a container though if they support that

[2016-01-07 11:00] methodmissing commented on #48
Closing - the driver shipped in release 0.4

[2016-01-07 11:00] #48 closed

[2016-01-07 11:03] methodmissing commented on #50
We've experimented with fetching worker counts from the unicorn config for Cardserver, but still doesn't support a capacity threshold ( hardcoded to `/ 2`, `50%` ):

[code]

[2016-01-07 11:05] methodmissing commented on #29
Cardserver can absorb this work too given memcached is the only outstanding driver we're interested in.

[2016-01-07 11:05] methodmissing commented on #30
References https://github.com/Shopify/semian/issues/50 , have some thoughts and will jot them down shortly.

[2016-01-07 19:50] Sirupsen commented on #29
:heart_eyes: , make sure to check the existing logic, the default behaviour in the gem to auto-eject may be sufficient.

[2016-02-25 03:23] jacobbednarz commented on #29
Is a memcache adapter something that is still on your radar (or possibly already in existence :stuck_out_tongue:)?

[2016-02-25 06:37] Sirupsen commented on #29
@jacobbednarz the memcached client has default sane-ish behaviour on failures, with [a simple circuit breaker implementation](https://github.com/arthurnn/memcached/blob/3ad7cec4b255dfd06a6d6d1cc62775bc93e43f58/lib/memcached/memcached.rb#L83).

[2016-02-25 10:59] jacobbednarz commented on #29
Thanks for the link @Sirupsen. We're on [https://github.com/petergoldstein/dalli](petergoldstein/dalli) so it's probably a better idea to move to another client with this built in instead of adding a semian adapter to handle it.

[2016-02-25 12:24] Sirupsen commented on #29
@jacobbednarz or submit a dalli adapter here :) up to you.

[2016-02-25 14:43] byroot commented on #29
I'd be happy to review a Dalli adapter. Looking at Dalli's source it has like most clients a nice chokepoint for Semian to integrate itself: https://github.com/petergoldstein/dalli/blob/65a5a8cbf4b6993d298eb9fab8bbd0884c673bef/lib/dalli/client.rb#L353-L369

So it shouldn't be too hard.

[2016-02-25 21:17] jacobbednarz commented on #29
Could do @Sirupsen. I was a little unsure where to draw the line with adapters and whether it would be better in the long run to have it handled in the client itself or within semian. I haven't come to a definitive answer just yet so I'll have a look at writing a dalli adapter and go from there.

Appreciate the link @byroot! Saved me some time digging. :smile:

[2016-04-15 21:01] jacobbednarz opened #79 "Subscribe to 'resource timeout' exceptions"
Heya,
I've implemented the instrumentation for keeping an eye on the status of semian adapters however one that would helpful to add would be the ['timed out waiting for resource'](https://github.com/Shopify/semian/blob/2a8503cf6667e7fc901b25de0ec51a78b667b53d/ext/semian/semian.c#L387) exceptions which are raised from the C extension. This would be handy to see when configuring ticket counts and t

[2016-04-15 21:09] byroot commented on #79
Unless I misunderstood your request, that is the `:busy` event: https://github.com/Shopify/semian/blob/2a8503cf6667e7fc901b25de0ec51a78b667b53d/lib/semian/protected_resource.rb#L28

[2016-04-15 21:27] jacobbednarz commented on #79
Thanks for the confirmation - I thought that was the case too however on my side the events from the semian instrumentation didn't match up to what we are seeing in our exception tracker. There is a possibility there is something fishy going on with way the exception tracker is rolling up these errors so let me take a look into that and explore that further.

[2016-04-15 21:27] #79 closed

[2016-05-30 13:18] tjoyal opened #84 "Changelog was not kept in sync"
Need to finish 4.1 and do 4.2, 4.3 and 5.0

[2016-08-09 13:43] eapache opened #86 "Possible concurrency issues"
I was poking around and found what I think are a few (hypothetical) issues when some semian methods are called concurrently. It's possible I'm missing something in the architecture (e.g are adapter methods expected to always be mutexed by the parent driver the way redis is?) but if not then here are some things I noticed:

- multiple concurrent calls to a new adapter can end up racing in `retrieve

[2016-08-09 14:54] casperisfine commented on #86
Yes. I can't think of any datastore driver that would support being used concurrently from multiple threads.

[2016-08-09 15:03] eapache commented on #86
I am thinking e.g. of mysql, where you have a connection pool; the individual connections are synchronous but the pool itself is concurrent. I was assuming the driver as a whole got a single semian resource, not one per connection?

[2016-08-09 15:05] casperisfine commented on #86
It's one per connection. MySQL and other relational DB drivers don't handle pooling, you have to handle pooling higher in the stack.

If one driver were to implement pooling, the semian adapter would have to take care of this concern indeed.

[2016-08-09 15:10] eapache commented on #86
OK, adapter mutexing takes care of the first issue (`retrieve_or_register`) but I believe the circuit-breaker point is still valid since `request_allowed?` and other such methods are expected to be publicly called outside the scope of the adapter.

[2016-08-09 15:15] casperisfine commented on #86
By whom? I can't see a reason to call those methods except to simulate a test example, in which case threading isn't an issue.

[2016-08-09 15:43] casperisfine commented on #86
Ok, so as discussed offline. `request_allowed?` can make sense to be alled higher on the start to be able to bail out of a code path early if you know it depends on a datastore.

Because of this it should be thread safe. I'm working on a fix as we speak.

[2016-08-09 18:32] Sirupsen commented on #86
Yeah, it was not designed to be `thread_safe` (we haven't needed it), but it definitely makes sense for it to be.

👍  to @casperisfine's direction.

[2016-11-09 20:06] smitchelus opened #93 "Support for error percentage?"
Hi guys, love the library, but I wanted to see if you would be open/interested in adding support for error percent in addition to the current absolute error threshold? I find dealing with error rates in terms of percentages much more flexible than absolute values. If you're open to it I would be interested in trying to tackle it and send you a pull request. However, I don't want to maintain a fork

[2016-11-09 20:13] Sirupsen commented on #93
The percentage would have to be over some sliding window of requests, wouldn't you have to configure the size of that window based on time or absolute size?

[2016-11-09 20:26] smitchelus commented on #93
Agreed, if I'm understanding the current code there's already a SlidingWindow used for tracking errors so I would imagine that we'd have to track the number of requests utilizing the same window so that we could do the proper comparison. Plenty of details to work out, but not work figuring out unless it would be considered generally useful.

[2016-11-09 20:30] Sirupsen commented on #93
Honestly, I'm not sure this is worth it. I actually think it's harder to reason about errors in a window than it is for absolute errors in a row, and in our experience this has worked well. If you'd like to contribute, a huge, huge improvement to Semian would be a way to share the circuit breakers between processes in an IPC namespace. A SysV implementation of the circuit breaker using shared memo

[2016-11-09 20:59] smitchelus commented on #93
Strange, I don't think it sounds that hard to reason about (assuming we expose the right information). However, I'll take that as a no for now. Let me know if you guys reconsider. I'll see how far we get utilizing absolute values. I'm just worried that we'll find ourselves having to do very different configurations for services that are called very different volumes.

[2016-11-09 20:59] #93 closed

[2016-11-09 21:04] Sirupsen commented on #93
Why do you think the configuration would be different? We use the same between MySQL shards that take 10,000s of queries per second and services that do few requests per minute. Works great.

[2016-11-14 12:59] smitchelus commented on #93
That's interesting Simon as that's exactly the type of scenario I was worried would require very different configurations when using absolute values (although at this point we're planning on only using this for various HTTP based services not the database connection itself). If you don't mind can I ask what your configuration looks like?

[2016-11-14 21:17] Sirupsen commented on #93
Absolutely. For MySQL shards we use this configuration:

[code]

`Resiliency.semian_ticket_count` is defined as the number of Unicorn or job workers on the box divided by two. We generally run around 48 workers per box, that's around 3 per core.

`Resiliency.semian_ticket_timeout` is `2s` for job workers, and `0s` for web workers. The difference between a ticket count and a timeout is that timeout

[2016-11-15 00:03] smitchelus commented on #93
Thanks so much for sharing this! We will experiment with a variation of this for our candidate services. I appreciate your insight!

[2016-11-15 00:36] Sirupsen commented on #93
Absolutely! Let me know if you have other issues.

Another thing I'd love to see in core Semian is that HTTP can be circuit broken by default, intead of ad-hoc configuring every endpoint. The reason it's not is because if you talk to 10,000s of hosts like we do, you'd allocate way too many circuit breakers. The implementation needs to have a ring-buffer scoped by resource for that to not be a subt

[2016-12-14 15:10] grollest opened #95 "Opt out of ticket count feature"
### What
It would be good to be able to configure semian without having to specify a ticket count, or to be able to explicitly disable the ticket count feature altogether.

### Why
You might not want to limit the number of concurrent requests to a resource. This is the case in shopify-app-store, where we don’t want to limit the number of concurrent requests to the Shopify API.

[2016-12-14 15:21] grollest commented on #95
This functionality was also brought up in https://github.com/Shopify/shopify/pull/82152

@BoGs did you get anywhere with the PR for `tickets=false` mentioned there?

[2016-12-21 09:08] sirupsen commented on #95
Agree @grollest, Semian bulkheads are really hard to configure —most use-cases _only_ need circuit breakers.

[2016-12-21 15:19] grollest commented on #95
Furthermore, the scope of the IPC namespace (wrt SysV semaphores) on Heroku left me scratching my head: "Do all the workers on a dyno share the same IPC namespace?".

And then of course altering the number of workers per dyno (or threads per puma process) without a corresponding change to the number of tickets could severely impact capacity for the resource.

I know none of what I'm saying is new,

[2017-02-07 15:28] sirupsen commented on #95
@BoGs is on this, will be working on it after some other high-priority work

[2017-02-08 16:45] dalehamel opened #98 "Dynamic semaphore initialization from ticket quota"
The gist of what is proposed here is to allow us to eliminate the assumption that there are a fixed number of workers (resource consumers) on a particular host. In a more dynamic scheduling environment (think: kubernetes), we cannot be certain of the number of resource consumers on a given host.

This is problematic, because under the current model we would have a ticket quota of a fixed size for

[2017-02-08 19:00] dalehamel commented on #98
Had a chat with @sirupsen and I think that the approach we've settled on boils down to:

[code]

[2017-02-08 19:21] sirupsen commented on #98
@csfrancis

[2017-02-08 19:21] sirupsen commented on #98
@casperisfine

[2017-02-08 19:31] dalehamel commented on #98
@csfrancis asked me:

and this brings up a point of clarification: the reason why any of this is necessary is because we have to use hostIPC for logging. Because we are logging to SySV MQ, we are forced into using the host IPC namespace.

[2017-02-08 19:33] dalehamel commented on #98
see https://github.com/Shopify/shopify/blob/master/config/k8s/web-service.yml.erb#L37 and https://github.com/Shopify/cookbooks/blob/master/cookbooks/shopify_kubernetes/templates/default/default_services/kafkabridge.yml.erb#L1-L2

[2017-02-08 19:52] sirupsen commented on #98
K, @csfrancis had a short conversation and he's onboard with the solution of dynamically adjusting ticket counts. Some excellent point Scott made:

* We should call the fraction `quota`, not `tickets` to not confuse the two. `ArgumentError` should be raised if both are set.
* When workers unregister themselves (they're killed or stop and `SEM_UNDO` does its thing), the worker count needs to be adj

[2017-02-13 19:06] dalehamel commented on #50
Seems this should be solved by https://github.com/Shopify/semian/issues/98?

[2017-02-13 23:59] sirupsen commented on #50
Agree

[2017-02-13 23:59] #50 closed

[2017-02-13 23:59] sirupsen commented on #30
https://github.com/Shopify/semian/issues/98

[2017-02-13 23:59] #30 closed

[2017-02-14 14:27] #68 closed

[2017-03-13 19:50] #98 closed

[2017-03-16 20:36] smitchelus opened #129 "ENV['SEMIAN_SEMAPHORES_DISABLED'] and SEM_UNDO"
Hi, I'm trying to get my head around the relationship between the "SEMIAN_SEMAPHORES_DISABLED" environment variable whether semaphores are actually utilized by the library. I wholeheartedly admit that most of my confusion is due to my lack of understanding about Ruby's C extensions, so my apologies for that. Here's my question though...

If I set SEMIAN_SEMAPHORES_DISABLED=1 then the following if

[2017-03-16 20:44] dalehamel commented on #129
hi @smitchelus

The block you reference is a platform-specific guard. If you see https://github.com/Shopify/semian/blob/master/lib/semian/platform.rb, you can see where `Semian.semaphores_enabled?` is defined. Basically, right now this is just to let you use semian on a non-linux platform (though it is more or less useless in that case). For us, this is mostly so that developers can use semian on

[2017-03-16 21:06] smitchelus commented on #129
Hi Dale, that helps. I have one follow up question. We are a multi-threaded environment (which is why the question comes up), and I now see that the gem will get build with the C extension included in our Linux environments (thanks for the rakefile pointer).

However, it still isn't quite clear to me what the role of the SEMIAN_SEMAPHORES_DISABLED environment variable is. It looks to me like that

[2017-03-16 21:08] dalehamel commented on #129
Yes, but I assume this would never be done in production, as that would prevent semian from doing anything.

[2017-03-16 21:12] smitchelus commented on #129
Oh, I thought the semaphores were just used for the bulkheading functionality. We're really just using the circuit breaker aspect of it for our use case. I thought those counters we tracked by plain ol' Ruby code ([SlidingWindow](https://github.com/Shopify/semian/blob/master/lib/semian/simple_sliding_window.rb) and [State](https://github.com/Shopify/semian/blob/master/lib/semian/simple_state.rb)).

[2017-03-16 21:13] dalehamel commented on #129
Disclaimer: I'm only working on the C extension code and semian resources. I'm not sure how much of the rubyland functionality for semian works

[2017-03-16 21:16] smitchelus commented on #129
Gotcha, fair enough. Thanks so much for your responsiveness so far. I'm going to throw my app/specs into a Docker container (I develop on a Mac) and test it with the environment variable set and see if it still triggers the circuit breaker. I'll update this issue with my findings.

[2017-03-16 23:20] dalehamel commented on #129
Thanks! Sorry i don't have time to investigate this at the moment

On Thu, Mar 16, 2017 at 5:16 PM, Scott Mitchell <notifications@github.com>
wrote:

[2017-03-17 00:52] smitchelus commented on #129
OK, so this looks promising. We've built a small facade around Semian to insulate our services from the implementation details. I setup a Docker environment and ran the specs for our facade with the environment variable set. Here's the results from the relevant specs. We are warned that semaphores are disabled, but all the specs pass (with evidence of the circuit opening).

[code]

[2017-03-17 10:08] sirupsen commented on #129
@smitchelus you'll be interested in https://github.com/Shopify/semian/pull/123 as well. It should make it in soon, hopefully

[2017-03-17 11:55] smitchelus commented on #129
Thanks @sirupsen, I'll keep an eye on that one. I won't be at the conference I'm afraid.

We have other use cases that would benefit from the bulkheading capability, but given that we're a multi-threaded environment it doesn't look like we'll be able to utilize that.

As far as you know does my belief that the circuit breaker functionality is actually thread safe when the semphores are disabled so

[2017-03-17 14:25] sirupsen commented on #129
@smitchelus I don't think the circuit breaker is thread-safe, but I also don't think it's a problem in most deployments if you're using MRI. That said, if you add threading support (and enable it by default) by providing mutexes around the sliding window and the counters, I'd happily accept it!

We talked about bulkheading for threaded apps, and it's something that'll benefit us internally as well

[2017-03-17 15:28] #95 closed

[2017-03-20 17:18] bibstha opened #133 "Bump version to 0.6.3?"
Hi guys,
Since there's been quite some changes between https://github.com/Shopify/semian/compare/v0.6.2...a58a1c7 will you guys release a new version soon?

[2017-03-20 17:38] dalehamel commented on #133
@bibstha we are testing the changes that have been merged to master by rolling them out to production internally. We intend to likely do a major version bump to 0.7.0 very soon, but we want to make sure that everything is stable before we do so.

0.6.2 is still stable and well tested, 0.7.0 will be released hopefully this week.

[2017-03-20 17:50] sirupsen commented on #133
Yeah, let's merge 0.7.0 by the end of the week.

Until now, use latest master or 0.6.2.

[2017-03-21 14:25] bibstha commented on #133
Sounds great. Thanks.

[2017-03-24 11:55] #129 closed

[2017-03-30 15:38] dalehamel commented on #133
@bibstha FYI https://github.com/Shopify/semian/pull/140 is open and all code has been battle-hardened in production.

I'm hoping to get this officially released next week.

[2017-05-23 13:55] bibstha commented on #133
Thanks. Closing this in favour of the 0.7.0

[2017-05-23 13:55] #133 closed

[2017-05-29 23:54] jacobbednarz opened #146 "Expotential backoff"
Something I've been looking into lately is how we can combat the stampeding herd effect we occasionally incur once a system has recovered and it is able to receive traffic again. One approach I've explored is using expotential backoff and I was looking to find out if this is something you'd consider adding to semian? I think semian is a sensible place to put this because it already has knowledge o

[2017-05-30 00:37] sirupsen commented on #146
Do you mean for the circuit breakers? I would assume that increasing the size of the window (timeout) would cause this to decrease since there should be some randomness involved in when the windows would open. If it's a heavily queried resource, perhaps adding some randomness for jitter to the window could work?

By exponential backoff, are you referring to the size of the circuit breaker window,

[2017-05-30 00:55] jacobbednarz commented on #146
Yep, for the circuit breakers. I haven't tried adding any jitter to the window but could definitely trial some ideas on that instead. The issue we have is that when we bring MySQL back online there are bunch of services will be waiting on it and with cold caches, it is a big sluggish to respond. We've got a few things in the pipeline to mitigate it but I'm sure we'll hit it eventually with another

[2017-07-12 13:02] jpittis opened #159 "Throw exception when protected resource deligate is nil."
Because we can now disable bulkheads or circuit_breakers for a protected_resource, we should raise an exception trying to access methods of a nil delegate.

For example, with `bulkhead: false`, `resource.count` should raise a `BulkheadDisabledError` rather than a `NoMethodError` kinda thing.

We should also add something to the docs that recommends using `resource.bulkhead.count` over `resource.co

[2017-09-06 08:46] tony612 opened #166 "How about disabling bulkhead by default?"
When using semian in puma and enable bulkhead, there will be some errors raised. How about disabling bulkhead by default to avoid this problem?

[2017-09-06 17:50] sirupsen commented on #166
Yeah, no strong opinions about this, they're hard to configure. Think I'd be OK with this. @csfrancis @byroot thoughts?

[2017-09-07 00:08] csfrancis commented on #166
I think I'd be fine with this as well.

[2017-11-02 15:31] meagar opened #169 "Travis is failing, unable to push a new build to RubyGems"
The version hosted on RubyGems is quite out of date, and there are problems getting new builds to pass on CI: https://github.com/Shopify/semian/pull/168

[2018-03-06 20:47] tboyko opened #178 "When using the quota option, how is the total tickets available count calculated?"
Using the `quota` option effectively sets the `tickets` option to a percentage of the total tickets available. How is this total ticket count determined by semian if using, for instance, the `net_http` adapter?

[2018-03-07 14:11] sirupsen commented on #178
Each process [registers itself](https://github.com/Shopify/semian/blob/master/ext/semian/sysv_semaphores.c#L62) the first time it uses the resource. If you have 10 processes using `net_http`, the first time they do the `net_http` call—they'll register. The tickets are automatically adjusted to respect the ratio ([rounding up](https://github.com/Shopify/semian/blob/master/ext/semian/tickets.c#L74))

[2018-03-07 14:11] #178 closed

[2018-06-09 09:28] kirs opened #187 "Fault injection"
I've been reading about [fuse](https://github.com/jlouis/fuse), a mature circuit breaker library for Erlang, a platform known for "resiliency by default".

In circuit breakers configuration, they have [two fuse types](https://github.com/jlouis/fuse#fuse-types) (you can think of them similar to toxics in Toxiproxy):

* Standard fuses, `{standard, MaxR, MaxT}`. These are fuses which tolerate `MaxR`

[2018-06-11 14:46] mac-adam-chaieb commented on #187
Neat idea. It could also be implemented as a Toxiproxy middleware in production, if we want to keep this feature outside of Semian.

From conversations in Slack, I gather that one of the biggest painpoints of setting up Semian is coming up with the right configuration, which has to be done by hand. This introduces more complexity to that. Do you think this would be a concern?

[2018-06-12 07:09] jacobbednarz commented on #187
I like this, alot ❤

brilliant. Not every organization has adopted chaos engineering yet, but
this could be a first step towards that, at least on the application level.

I agree this is a great intermediate step between using Toxiproxy in CI
and full blown chaos engineering in production which might make the
transition to the latter a touch easier.

One thing to note is that in our setup, we inst

[2018-06-12 07:12] jacobbednarz commented on #187
I like this, alot ❤

brilliant. Not every organization has adopted chaos engineering yet, but
this could be a first step towards that, at least on the application level.

I agree this is a great intermediate step between using Toxiproxy in CI
and full blown chaos engineering in production which might make the
transition to the latter a touch easier.

One thing to note is that in our setup, we inst

[2018-06-12 18:51] jpittis commented on #187
I've always thought that fault injection in production *is* chaos engineering, not "on an intermediate step".

Regularly injecting failure in production only has value if teams react to these failures by improving their jobs / workflows resilience.

I wonder if building a self serve "shitlist" would let teams first attempt to make their logic resilient to failure and then toggle their logic on the

[2018-06-12 21:49] jacobbednarz commented on #187
You're right @jpittis - I've just done a poor job articulating that
my intention with that comment was that I didn't _not_ consider it chaos
engineering; just that it wasn't a solution like Netflix's [Chaos
Monkey][1] whereby containers or entire instances are randomly
terminated. Having fault injection via a circuit breaker would be less
of an impact since it's already a partial gate to another s

[2018-07-31 10:50] sirupsen commented on #187
This is similar to what we did back in 2014 for Resiliency, albeit through mocks, not the application library. However, it assumes that the circuits are perfectly implemented and that the client does the right thing always. I.e., you're testing the application logic, not the client driver—which is very likely to have bugs, e.g. ActiveRecord had several we found with only Toxiproxy. I've said befor

[2018-09-19 14:12] jpittis commented on #49
I've been working on this in https://github.com/shopify/semsim.

[2018-10-17 16:55] fist28 opened #201 "Net::ResourceBusyError Permission denied"
Hi,
I have question about using Semian.
I configured simple NetHttp adapter (like in README):
config/initializers/semian.rb
[code]

I tested it on development, and all was looks good. But problem was shows on after production deployment. When I try execute http request from rails console then I getting error:
[code]
In this time `Semian.resources` return blank hash.

Could you explain me what is w

[2018-10-23 10:11] sirupsen commented on #201
Is this on OS X? Bulkheads (i.e. tickets) are not supported on OS X. We just disable them in development and test.

[2018-10-24 14:16] fist28 commented on #201
I working on OS X. But server works on Docker container in Amazon with system: ubuntu 16.04

[2018-10-24 14:46] sirupsen commented on #201
Yep, tickets on OS X is not supported. See [README](https://github.com/Shopify/semian#developing-semian).

Feel free to revive https://github.com/Shopify/semian/pull/51

[2018-10-24 14:46] #201 closed

[2018-11-21 01:01] ashleyfulks opened #207 "noop"

[2018-11-21 12:46] #207 closed

[2018-12-07 09:16] tsauerwein opened #211 "mysql2: Exceptions are "wrapped" infinitely"
We are trying to use Semian for our application. The `Net::HTTP` adapter works perfectly and I also wrote a custom adapter for [logstash-logger](https://github.com/dwbutler/logstash-logger).

Unfortunately, the MySQL adapter is behaving strangely. I was able to reproduce it in a small script:

[code]

The output is:
[code]

The circuit-breaker opened nicely as configured, but then the exception me

[2019-04-05 06:37] supantha opened #218 "Postgresql Adapter"
Is there any reason for not having an adapter for postgresql?

[2019-04-25 14:37] sirupsen commented on #218
@supantha nope, feel free to add one. We don't use Postgres at Shopify--so we haven't needed it, but I'm sure other users of Semian would appreciate it :)

[2019-05-27 08:06] viraptor opened #224 "Disappearing semaphore array"
I've run into an issue with a semaphore array disappearing from the system while the app is running. I can't find any details in the logs about what would cause it, but it started happening pretty much as we moved from ubuntu 14.04 to 18.04. There are no other changes that I could see that would be related here.

The system is running with ruby 2.5.5. The exception we get is:
[code]

This is with

[2019-05-27 08:30] viraptor commented on #224
It turns out there was a bit of misunderstanding of what happened. Additional details:

The rails app which was affected was is normally configured for 6 tickets and runs with 9 workers. The healthy status looks like this:
[code]

For the affected app, the semid was incorrect, but also the semaphore array present at the instance was:

[code]

Where pid 1225 did not exist on the system anymore.

[2019-05-31 21:16] michaelkipper opened #226 "Adapters should be loaded automatically"
A conversation with @rafaelfranca turned into: Why not have the "built-in" adapters load automatically?

This would be a breaking change but would reduce the barrier to verifying that Semian is being used correctly.

WDYT?

cc: @sirupsen, @csfrancis, @fw42

[2019-06-03 12:22] fw42 commented on #226
I don't have a strong opinion, but as far as I know just loading the adapter doesn't actually enable any functionality yet (that has to be done via passing in configuration options when initializing the clients, right?).

[2019-06-03 14:17] michaelkipper commented on #226
So it seems that looking for runtime logs of type `Semian is not configured for #{self.class.name}: #{semian_identifier}"` would be the best course of action. Having adapters load automatically would just increase log noise, and not actually enable Semians.

[2019-06-03 14:17] #226 closed

[2019-06-04 06:02] jacobbednarz commented on #224
After a bit of investigation, it has turned out this was a side effect of swapping to systemd and the `logind.conf` having the `RemoveIPC=yes` as the default value. The user had a UID > 1000 and performed some operations by `su` to the required user before running. Upon logging out, it would wipe out the semaphores that semian was relying on and cause some unexpected behaviours.

There are probabl

[2019-06-17 14:45] michaelkipper opened #232 "Configure Semian for Sidekiq"
Need docs on how to configure Semian for use with Sidekiq.

cc: @Shopify/servcomm, @ericroberts

[2019-06-17 15:14] ericroberts commented on #232
Looking into the [Using Redis](https://github.com/mperham/sidekiq/wiki/Using-Redis) guide on the Sidekiq Wiki, it looks like we can either follow the guide under "Using an initializer" to just add `semian: {...}` around whatever values are there or do what they show under "Complete control".

[2019-06-27 17:04] heitorpolidoro opened #241 "Adapter to gem httprb"
Adapter to httprb (https://github.com/httprb/http) gem

I made the adapter but could't submit a PR
[code]

[2019-07-02 14:31] michaelkipper opened #244 "Feature Request: Throttle half_open -> closed attempts"
## What

Currently, when the `error_timeout` expires, the next acquisition request for a circuit will cause a transition from `open` to `half_open`. In this state, workers will attempt to access the resource with a modified timeout of `half_open_resource_timeout`. The motivation here is that the modified timeout is much lower than the client timeout so if the resource is still unhealthy, it will f

[2019-07-02 15:06] michaelkipper opened #245 "Feature Request: Percentage Based Error Thresholds"
## What

Currently, we express error thresholds as the number of failures (`error_threshold`) in a certain time period (`error_timeout`). After that threshold is reached, we open the circuit, and only close it again after a certain number of successful requests (`success_threshold`) are reached.

This requires intimate knowledge of your request patterns. A more flexible model is to use an error _p

[2019-07-04 13:34] michaelkipper opened #249 "Audit list of things that can raise ResolveError"
#230 surfaced a failure that was not marked by Semian to raise a `ResolveError`.

https://github.com/Shopify/semian/pull/230#pullrequestreview-250070212 suggested grepping to find more of these messages but there's little confidence that it's 100% complete.

We need to come up with a more systematic way of covering these failures.

[2019-07-04 19:52] thegedge commented on #245
On top of that, it also assumes a happy path. I like a percentage threshold because it could adapt to a shift in traffic that wasn't anticipated (e.g., flash sale). This would work well with our current setup where bulkheads trip circuits, because bulkhead timeouts are more likely during high RPS, which in turn makes it more likely that we'd open circuits in high traffic situations (which may not

[2019-07-04 19:53] thegedge commented on #249
Another thought, related to DNS: Perhaps we should have a DNS adapter that is separate from the others, and uses a separate resource name, since it's a different upstream. This would allow it to be configured differently from the other adapters, which could make it easier to recover from.

[2019-09-02 09:25] #211 closed

[2019-09-04 03:29] orien opened #253 "Broken subscribe interface"
Following the [monitoring instructions](https://github.com/Shopify/semian/blob/169aa759639973a6e2d0475e1a94a221d20c7660/README.md#monitoring) in the readme:

[code]

Results in an Error:

[code]

It seems the `resource` is a `Semian::CircuitBreaker`, and not a `Semian::Resource`!

Introduced by: #238

Semian Version: 0.8.9

[2019-09-04 03:37] orien commented on #253
Referencing the new notification features (#238) in the Changelog would be much appreciated.

[2020-03-06 07:40] runlevel5 opened #261 "Failed to compile ext with multiple definition errors"
[code]

The program could be compiled if I set `LDFLAG` explicitly with  `--allow-multiple-definition`

Wondering if the team could resolve these warnings sot that semian could be compiled without `--allow-multiple-definition` flag?

[2020-03-06 07:55] runlevel5 commented on #261
[code]

^ this is how I work-around this issue on my box.

[2020-03-06 15:26] dalehamel commented on #261
I don't see these values actually being defined more than once. I wonder if some behavior has changed in GCC 10?

Can you reproduce on any older version of GCC, eg, GCC 8?

[2020-05-11 15:38] MichaelM-Shopify opened #265 "Ruby 2.7 Warnings"
If a project is running ruby 2.7 there are some depreciation warnings. Here are some that pop up in my project for `keyword parameters`:

[code]

[2020-10-08 13:40] #253 closed

[2021-02-02 23:00] vosechu opened #287 "Updating the docs to specifically call out some common error messages"
Hello all!

I've been looking through the docs and googling and couldn't figure out what these errors actually _mean_, so I wanted to just ask.

I'm happy to make a PR to update the readme if anyone has time to help me figure these out. I think it would help others as well!

***

### Error: `Net::ReadTimeout/Net::OpenTimeout`

This one below, I'm fairly confident is caused by the connection exceed

[2021-02-03 19:11] vosechu commented on #287
Regarding `timed out waiting for resource`, it seems that for sysv semaphores, this means that the request to set the semaphore has failed. Since we're in a non-gvl area, it seems entirely possible that a multi-threaded or multi-process application could be trying to access the semaphore system at the same time, causing the EAGAIN. This doesn't _seem_ catastrophic, so I'm going to try to rescue th

[2021-02-03 19:33] vosechu commented on #287
Regarding `execution expired`, Semian seems to only output the last_error.message, so it's unclear what this could be. It could be from Net::OpenTimeout, or a bunch of other classes. I'll post a PR in a bit to include the class name in the exception message and see what the maintainers think.

[2021-02-18 22:41] haines commented on #261
I'm running into this in the Alpine-based Ruby Docker containers. On Alpine 3.12 (gcc 9.3.0) I can install Semian, but on Alpine 3.13 (gcc 10.2.1) I can't:

[code]

[2021-02-18 22:46] haines commented on #261
This looks like the culprit: https://gcc.gnu.org/gcc-10/porting_to.html#common

      int x;  // tentative definition - avoid in header files

      extern int y;  // correct declaration in a header file

https://github.com/Shopify/semian/blob/0421d512194b7fda816d6048d5898305b7308712/ext/semian/resource.h#L13-L15

I'll try adding `extern` to those declarations.

[2021-03-16 17:28] vosechu commented on #287
Since I can't figure out the exact semantics of this, I'm going to close this issue.

[2021-03-16 17:30] #287 closed

[2021-04-08 14:31] madejejej opened #290 "Update instrumentation docs"
Semian instruments state changes in circuit breakers, but the current documentation does not reflect this:

https://github.com/Shopify/semian/blob/7a5adb74eb2565b6a5041d7033c7b871c7d8e9bc/lib/semian/circuit_breaker.rb#L147

[code]

I might prepare a PR as soon as I find some spare time.

[2021-08-06 09:25] shruthi8 commented on #261
Works if I declare the variable as an extern as follows.

[code]

[2021-11-24 19:25] #241 closed

[2022-01-05 18:52] larouxn opened #305 "Ruby deprecation warning: rb_tainted_str_new_cstr"
[code]

This occurs during runtime. Understandably the same issue as https://github.com/brianmario/mysql2/issues/1232.

[2022-01-28 00:45] larouxn commented on #305
I see. If the deprecation causing code is actually within MySQL then it looks like we'll need to wait for a release of `mysql2` for the fix re: https://github.com/brianmario/mysql2/issues/1232#issuecomment-1006174181. That said, should be able to close this issue.

[2022-01-28 00:45] #305 closed

[2022-02-17 17:54] haines commented on #261
Glad this helped @luis-novoa! Note that if you can upgrade semian to 0.11.4+, it should compile fine with gcc 10+.

[2022-04-22 14:07] bsandeepan opened #312 "How do I use Semian (for dummies)"
I am having trouble to understand how to use the Semian gem to implement a circuit breaker around a HTTP call. I went through the README multiple times. As far as I understand, I need to use the NetHTTP adapter, but where do I put the code?

The HTTP urls I want to wrap in circuit breaker are in separate models like the following:

[code]

I have multiple models like these calling service 1, 2, 3

[2022-04-26 06:11] bsandeepan opened #313 "Semian sysv semaphores are not supported on x86_64-darwin21"
While trying to figure out how to use Semian NetHTTP adapter, I found this INFO log.
`INFO -- : Semian sysv semaphores are not supported on x86_64-darwin21 - all operations will no-op`

I was not sure whether this is concerning, so I opened an issue.

[2022-04-28 13:05] casperisfine opened #315 "Slow GRPC tests"
I started looking at CI a bit, as it's really slow and wonky.

After enabling individual test timing, it seems that just 3 GRPC tests account for over a third of the test suite time:

[code]

Ref: https://github.com/Shopify/semian/pull/200

cc @max611 (since you added the adapter, maybe you have an idea what may take this long or at least how to debug this?)

[2022-05-17 19:35] rmcnews opened #316 "Semian for MySQL ignores error `Query execution was interrupted, maximum statement execution time exceeded`"
The following query uses a [MAX_EXECUTION_TIME](https://dev.mysql.com/doc/refman/5.7/en/optimizer-hints.html#optimizer-hints-execution-time) MySQL optimizer hint.
[code]

Semian doesn't recognize errors from `MAX_EXECUTION_TIME` because `Query execution was interrupted, maximum statement execution time exceeded` is not in the [list](https://github.com/Shopify/semian/blob/master/lib/semian/mysql2.r

[2022-05-17 19:42] rmcnews commented on #316
Never mind. I'm concerned that adding it to the list could create false positives.

[2022-05-17 19:42] #316 closed, assigned to nobody

[2022-05-20 15:53] miry opened #320 "Tests are broken for latest redis-client"
The last compatible version was redis-client 0.2.0

[2022-05-22 12:46] miry opened #325 "Upgrade Toxiproxy gem"

[2022-05-23 18:57] miry opened #329 "Make TestResource#test_acquire_timeout_override work"
I skipped test `TestResource#test_acquire_timeout_override work` in https://github.com/Shopify/semian/pull/328

Need to update the code and find how it should work.

[2022-05-23 20:42] miry commented on #69
closing, it was fixed somewhere between 2015 and 2022 🚀

[2022-05-23 20:42] #69 closed

[2022-05-28 16:45] miry opened #334 "Automate PR approving with AI"
Here is the service https://codeball.ai/prediction/2e37978b-7b3f-43c0-932d-659a0cb24b07

[2022-06-09 14:22] miry opened #343 "Test against ruby 3.1"
Add ruby 3.1 in CI/CD.

[2022-06-09 14:25] #343 closed

[2022-06-10 09:46] #313 closed

[2022-06-15 13:43] #290 closed

[2022-06-19 15:49] jychen7 opened #349 "Circuit not open for GRPC::ActiveCall::Operation failures"
### Problem
when using `google-cloud-bigtable` gem (v2.6.5) with Semian, we observe that `n` GRPC::Unavailable errors does not open Circuit, where `n` > `error_threshold`

### Root Cause
Normally, the gRPC response is return by
[code]

However, there is another option to return a "future" like object, called `operation`. ([Google's code](https://github.com/googleapis/gapic-generator-ruby/blob/dc48

[2022-06-20 02:58] jychen7 opened #350 "Feature: support static config for Semian::NetHTTP and Semian::GRPC"
## Background

MySQL and Redis supports static config, while NetHTTP and GRPC currently only Proc. e.g.
https://github.com/Shopify/semian/blob/1d4b53be7819707f9c6eebc17bb9b50b46619271/lib/semian/net_http.rb#L67-L69
https://github.com/Shopify/semian/blob/1d4b53be7819707f9c6eebc17bb9b50b46619271/lib/semian/grpc.rb#L48-L50

## Problem
If pass a static config to NetHTTP and GRPC, semian is disabled be

[2022-06-21 13:14] #349 closed

[2022-09-01 10:25] miry opened #383 "Update all development / test gems"
There are plenty new versions of gems that are outdated:

- hiredis-client - #376
- redis - #385
- minitest - #375
- rubocop - #384
- rubocop-minitest - #380
- rubocop-shopify - #378

[2022-09-01 13:40] muz commented on #383
@miry I've updated the ticket description to link to respective Dependabot PRs for the testing deps.

In the case of the two that couldn't be merged as-is, I've added a commit to get the code to conform with the new enforced-linting style those gem bumps bring.

[2022-09-01 23:28] muz opened #385 "Compatibility issues with Redis 5.X"
Saw this on an internal-app of ours with Dependabot attempting to bump `redis` from `4.8.0` to `5.0.2`;

[code]
 
https://github.com/Shopify/semian/blob/07a2a21b3a7bca412e3f116ba9b2e2672059db5b/lib/semian/redis.rb#L72
 

----

In `redis` 4.8 we can see this method defined here https://github.com/redis/redis-rb/blob/9edb20462fb4578fce9ffa802a56ddb711643716/lib/redis/client.rb#L298-L307

It looks li

[2022-09-02 16:41] miry commented on #385
It means redis now uses redis-client in background.
It means we can load redis_client semian instead.

[2022-09-05 14:23] #385 closed

[2022-09-06 16:05] #383 closed

[2022-09-06 16:35] miry opened #394 "Release v0.14.0"
More details [RELEASE.md](https://github.com/Shopify/semian/blob/a10037dfdcc66be5ae9287214ca19a5071944324/RELEASE.md)

1. Update CHANGELOG with merged PR information: In this case Redis 5 compatibility
2. Bump version in semian/version.rb
3. Run tests and bundle exec rake build
4. Crate tag
5. Commit changes with attached tag
6. Wait when gem is published create a release in github.

[2022-09-07 07:30] #394 closed, assigned to miry

[2022-09-12 11:28] miry opened #401 "Random failed tests"
[code]

[2022-09-13 10:31] miry opened #406 "Review tests to cover ActiveRecord problems"
https://github.com/bmansoob/semian/pull/1/files

[2022-09-14 09:57] miry opened #407 "Ruby type RBS vs Sorbet RBI"
Introduce RBS and RBI files for type checking.

* https://github.com/ruby/rbs
* https://sorbet.org/docs/rbi#rbis-within-gems

[2022-09-14 10:45] #407 closed

[2022-09-23 22:34] miry commented on #313
Working on example in https://github.com/Shopify/semian/pull/413

[2022-09-25 08:25] miry opened #414 "Bulkhead resource count produces error"
During work on examples, i found to problem to print the `count` value:

<details>
  <summary>Click me: Error stack trace</summary>

<pre>
examples/net_http/07_bulkhead_in_fork.rb:87:in `count': semctl() failed, errno: 22 (Invalid argument) (Semian::SyscallError)
	from examples/net_http/07_bulkhead_in_fork.rb:87:in `block in <main>'
	from examples/net_http/07_bulkhead_in_fork.rb:63:in `fork'
	from

[2022-09-25 15:38] #414 closed

[2022-09-25 15:38] miry commented on #414
it was problem to use wrong semian.so, that was built for different arch.

[2022-09-28 10:00] #312 closed

[2022-09-28 10:02] miry commented on #166
Need first release a version of Gem with  warning message, that `bulkheading` is disabled by default.

[2022-11-10 15:34] miry commented on #218
@mschoenlaub That is a great work. I am going to update README to link it.

[2022-11-11 11:46] miry commented on #218
Added line of postgres adpter in Readme.

[2022-11-11 11:46] #218 closed

[2022-11-11 19:31] miry opened #442 "Extract bulkheading ENV settings to configuration part"
https://github.com/Shopify/semian/pull/427#discussion_r1001016223

[2022-11-14 20:16] miry opened #446 "Investigate possobility when resource is acquired"
Check possible problems with line:
https://github.com/Shopify/semian/blob/f9e6d9f51fb2887cf97af81b0d0deaad81125a7b/lib/semian/adapter.rb#L35

[2022-11-24 23:06] DhawalSawla opened #448 "Semian does not open circuit immediately and waits for redis pool's reconnection attempts which uses exponential backoff timeout"
We use `redis` and `redis_dynamic` gems and we defined our redis pool:
[code]

Now, due to this configuration, if I perform a call to the redis, say redis.get('1') and if it times out, it retries 5 times using exponential timeout strategy leading to a total timeout of 25 seconds and then the semian gives the open circuit error. The only way semian opening the circuit immediately is to configure th